/* Universal CSS */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body,
html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	font-family: 'lato', sans-serif;
	line-height: 1.7;
	color: #666;
}

/* Loader */
.loadImage {
	width: 50%;
	height: auto;
	-webkit-animation: turn 2.5s linear infinite;
	-o-animation: turn 2.5s linear infinite;
	animation: turn 2.5s linear infinite;
}
@keyframes turn {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loader {
	top: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 90;
	background-color: #fbdfb6;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
.loader.hidden {
	animation: fadeOut 2s;
	animation-fill-mode: forwards;
}
@keyframes fadeOut {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

/* Navbar-Section */

.navbar-expand-lg {
	background: transparent !important;
	border: none;
}

.navbar .navbar-brand {
	color: #ffffff;
}

.navbar ul li a {
	color: #ffffff !important;
}

.navbar .active a {
	color: #000000 !important;
}

.navbar-toggler-icon {
	background-color: white !important;
}

.sticky-top {
	z-index: 999 !important;
	position: fixed !important;
}

nav.black {
	background-color: rgba(0, 0, 0, 0.4) !important;
	width: 100%;
}

/* Background-image Styling */

.primg1,
.primg2,
.primg3,
.primg4 {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.primg1 {
	background-image: url(img/HeroChayo2.png);
	min-height: 100%;
}

.primg2 {
	background-image: url(img/5.png);
	background-color: #842d73;
	min-height: 600px;
}

.primg3 {
	background-image: url(img/6.png);
	background-color: #842d73;
	min-height: 600px;
}

.primg4 {
	background-color: #842d73;
	min-height: 400px;
}

/* Section */

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-light {
	background-color: white;
	color: black;
}

.section-dark {
	background-color: #282e34;
	color: #ddd;
}

.prtext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 27px;
	letter-spacing: 7px;
	color: #fff;
}

.border {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.border.trans {
	background-color: transparent;
}

.descriptionAboutMe {
	font-size: large;
}
footer {
	background-color: #111;
	color: #ffffff;
}

@media (max-width: 468px) {
	.primg1,
	.primg2,
	.primg3,
	.primg4 {
		background-attachment: scroll;
	}

	.prtext {
		font-size: 15px;
		letter-spacing: 4px;
	}

	.section {
		padding: 50px 10px;
	}

	.sectionProjects {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.cardsProjects {
		display: flex;
		flex-direction: column;
	}

	.card-project {
		color: black;
		display: grid;
		grid-template-columns: 300px;
		grid-template-rows: 400px 300px 80px;
		grid-template-areas: "image" "text" "stats";
	
		border-radius: 18px;
		background-color: aliceblue;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
		text-align: center;
		margin: 1rem;
	}

}

.softTools {
	display: flex;
	flex-direction: row;
}

.tittles {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.skillsContainer {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.toolsContainer {
	margin: 2rem;
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: center;
}
.tools1 {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.tools2 {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.iconTech {
	margin: 0.5rem;
	width: 70%;
}

.iconSoft {
	width: 60%;
} 

.fab {
	margin: 1rem;
	color: #842d73;
}

.far {
	margin: 1rem;
	color:#842d73;
}

.fas {
	margin: 1rem;
	color: #842d73;
}

@media (min-width: 469px) {
	.sectionProjects {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.cardsProjects {
		display: flex;
		flex-direction: row;
	}
	
	.card-project {
		color: black;
		display: grid;
		grid-template-columns: 400px;
		grid-template-rows: 400px 300px 80px;
		grid-template-areas: "image" "text" "stats";
	
		border-radius: 18px;
		background-color: aliceblue;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
		text-align: center;
		margin: 1rem;
	}
}

.card-image {
	grid-area: image;
	background: url(./img/Lol.jpg);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
}
.card-image2 {
	grid-area: image;
	background: url(./img/burguer.jpg);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
}

.card-image3 {
	grid-area: image;
	background: url(./img/ttt2.jpeg);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-size: cover;
}

.card-text {
	grid-area: text;
}

.card-stats {
	grid-area: stats;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: #842d73;
}

.card-stats .stat {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	color: white;
}

.linksto {
	color: black;
}