/* Universal CSS */
body,
html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	font-family: 'lato', sans-serif;
	line-height: 1.7;
	color: #666;
}

/* Loader */
.loadImage {
	width: 50%;
	height: auto;
	-webkit-animation: turn 2.5s linear infinite;
	-o-animation: turn 2.5s linear infinite;
	animation: turn 2.5s linear infinite;
}
@keyframes turn {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loader {
	top: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 90;
	background-color: #fbdfb6;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
.loader.hidden {
	animation: fadeOut 2s;
	animation-fill-mode: forwards;
}
@keyframes fadeOut {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

/* Navbar-Section */

.navbar-expand-lg {
	background: transparent !important;
	border: none;
}

.navbar .navbar-brand {
	color: #ffffff;
}

.navbar ul li a {
	color: #ffffff !important;
}

.navbar .active a {
	color: #000000 !important;
}

.navbar-toggler-icon {
	background-color: white !important;
}

.sticky-top {
	z-index: 999 !important;
	position: fixed !important;
}

nav.black {
	background-color: rgba(0, 0, 0, 0.4) !important;
	width: 100%;
}

/* Background-image Styling */

.primg1,
.primg2,
.primg3,
.prim4 {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.primg1 {
	background-image: url(img/HeroChayo2.png);
	min-height: 100%;
}

.primg2 {
	background-image: url(img/5.png);
	background-color: #842d73;
	min-height: 600px;
}

.primg3 {
	background-image: url(img/6.png);
	background-color: #842d73;
	min-height: 600px;
}

.primg4 {
	background-color: #842d73;
	min-height: 400px;
}

/* Section */

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-light {
	background-color: white;
	color: black;
}

.section-dark {
	background-color: #282e34;
	color: #ddd;
}

.prtext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 27px;
	letter-spacing: 7px;
	color: #fff;
}

.border {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.border.trans {
	background-color: transparent;
}

.descriptionAboutMe {
	font-size: large;
}
footer {
	background-color: #111;
	color: #ffffff;
}

@media (max-width: 468px) {
	.primg1,
	.primg2,
	.primg3,
	.primg4 {
		background-attachment: scroll;
	}

	.prtext {
		font-size: 15px;
		letter-spacing: 4px;
	}

	.section {
		padding: 50px 10px;
	}
}

.softTools {
	display: flex;
	flex-direction: row;
}

.tittles {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.skillsContainer {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.toolsContainer {
	margin: 2rem;
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: center;
}
.tools1 {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.tools2 {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.iconTech {
	margin: 0.5rem;
	width: 70%;
}

.iconSoft {
	width: 60%;
} 

.fab {
	margin: 1rem;
	color: blueviolet;
}

.far {
	margin: 1rem;
	color: blueviolet;
}

/*Cards*/

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background:#262626;
    overflow: hidden;
}

input, 
.toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    outline: none;
    z-index: 10;
}

input {
    opacity: 0;
}

.toggle {
    pointer-events: none;
    border-radius: 50%;
    background: #fff;
    transition: 0.5s;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    box-shadow: 0 0 0 0px #9c27b0;
}
input:checked ~ .toggle {
    box-shadow: 0 0 0 500px #9c27b0; 
    transform: rotate(225deg);
}


.imgBx,
.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.details {
    padding: 20px;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}

input:checked ~ .details {
    opacity: 1;
    transition-delay: 0.5s;
}

.details h2 {
    margin-bottom: 5px;
    color: #fff;

}

.details p {
    margin: 0;
    padding: 0;
    color: #fff;
}